@use '../abstracts/' as *;
@use '../components/' as *;

.footer {
  width: 100%;
  margin-top: 3rem;
  padding: 1rem 0;
  position: fixed;
  bottom: 0;
  @include grid(center);
  background-color: $primary-800;

  &__links {
    width: 80%;
    max-width: 400px;
    @include flex(row, center, center);
    gap: 0.6rem;

    a {
      cursor: pointer;
      color: $white;
      border-radius: $borderRadius;
      @include grid(center);
      transition: $transition-2;

      &:hover {
        color: $grey-200;
        box-shadow: $shadow-3;
        transform: scale(0.95);
      }
    }
  }
}
