@use '../abstracts/' as *;
@use '../components/' as *;

.header {
  width: 100%;
  min-height: 80vh;
  @include flex(column, center, center);
  background-color: $backgroundColor;

  .heroText {
    width: 90%;
    max-width: $fixedWidth;
    padding: 3rem 0rem;
    border: none;
    border-radius: $borderRadius;
    @include flex(column, space-between, center);
    gap: 0.5rem;
    color: $textColor;
    background-color: $backgroundColor;

    h1 {
      font-family: $headerFont;
      font-size: clamp(3rem, 3vw, 6rem);
      font-weight: 300;
      margin: 0 auto;
      text-transform: initial;
      text-align: center;
      width: max-content;
      position: relative;

      &:before,
      &::after {
        content: '';
        position: absolute;
        inset: 0;
      }
      &:before {
        background-color: $backgroundColor;
        animation: typewriter $typewriterSpeed steps($typewriterCharacters) 1s
          forwards;
      }
      &::after {
        width: 0.25rem;
        background: $textColor;
        animation: typewriter $typewriterSpeed steps($typewriterCharacters) 1s
            forwards,
          blink 1s steps($typewriterCharacters) infinite;
      }

      span {
        font-family: inherit;
        font-size: inherit;
        font-weight: inherit;
        color: $secondary-500;
      }
    }

    .subtitle {
      @include grid(center);
      gap: 0.5rem;

      h2 {
        font-size: clamp(2rem, 2vw, 4rem);
        font-weight: 300;
        padding: 1rem 2rem;
        text-align: center;
        transform: translateY(2rem);
        opacity: 0;
        animation: fadeInUp 2s ease ($typewriterSpeed)+9s forwards;
      }

      a {
        font-weight: $light;
        padding: 0.75rem 1.5rem;
        border-radius: $borderRadius;
        border: none;
        color: $white;
        background-color: $secondary-500;
        box-shadow: $shadow-1;
        transition: $transition;
        transform: translateY(2rem);
        opacity: 0;
        animation: fadeInUp 2s ease ($typewriterSpeed)+9s forwards;

        &:focus,
        &:hover {
          box-shadow: $shadow-2;
          background-color: $secondary-600;
          transform: scale(1.1);
        }
      }

      p {
        font-size: 1.7rem;
        font-weight: $light;
        transform: translateY(2rem);
        opacity: 0;
        animation: fadeInUp 2s ease $typewriterSpeed forwards;

        &.first {
          animation-delay: ($typewriterSpeed + 3s);
        }

        &.second {
          animation-delay: ($typewriterSpeed + 6s);
        }
      }
    }
  }
}
