@use '../abstracts/' as *;
@use '../pages/' as *;

.main {
  width: 100%;
  min-height: 100vh;
  margin-top: 3rem;
  padding: 3rem 0;
  @include grid(center);
  gap: 5rem;

  .section {
    min-height: 40vh;
  }

}

