@use '../abstracts/' as *;
@use '../pages/' as *;

.main {
  width: 100%;
  min-height: 100vh;
  @include grid(center);
  background-color:$primary-500;

  section {
    min-height: 50vh;
    margin:3rem auto;
    padding-top: 7rem;
    padding-bottom:3rem;
  }

}

