@use '../abstracts/' as *;
@use '../pages/' as *;

.main {
  width: 100%;
  min-height: 100vh;
  @include grid(center);
  gap:10rem;
  margin-bottom: 10rem;


  section {
    min-height: 100vh;
    margin:5rem auto;
    padding: 7rem 0;

  }

}

