@use '../abstracts/' as *;

body {
  font-family: $fontStack;
  font-size: $fontSize;
  height: 100vh;
  line-height: 1;
  background-color: #fff;
  color: setTextColor($red);
  @include flexCenter(column);
}
