@use '../abstracts' as *;
/* forms */
.form {
  width: 90vw;
  max-width: 400px;
  background-color: $primary-500;
  border-radius: $borderRadius;
  box-shadow: $shadow-2;
  padding: 1.25rem 1.6rem;
  margin: 1.875rem auto;
}

.form-label {
  display: block;
  font-size: 1.25rem;
  margin-bottom: 0.3125rem;
  text-transform: capitalize;
  letter-spacing: $letterSpacing;
  color: $white;
}
.form-input,
.form-textarea {
  width: 100%;
  font-size: 1.125rem;
  padding: 0.375rem 0.75rem;
  border-radius: $borderRadius;
  background: $backgroundColor;
  border: 1px solid $grey-200;
}

.form-control {
  margin-bottom: 0.625rem;
}

.form-textarea {
  height: 6rem;
}
::placeholder {
  font-family: inherit;
  color: $grey-200;
}
.form-alert {
  font-size:$smallText;
  color: $error;
  letter-spacing: $letterSpacing;
  text-transform: capitalize;
}