@use '../abstracts/' as *;

.nav {
  width: 100%;
  min-height:10vh;
  position: fixed;
  top: 0;
  left: 0;
  background-color: $primary-500;
  @include flex(row, space-between, center);
  z-index: 9;

  .logo {
    width: 150px;
    z-index: 99;

    img {
      width: 100%;
      height: auto;
      object-fit: cover;
    }
  }

  .navBar {
    width:100vw;
    height: 100vh;
    list-style: none;
    position: absolute;
    top:0;
    right:-100%;
    @include flex(column,center,center);
    transition: $transition;
    background-color: $primary-500;


    &.open {
      bottom: 0;
      right: 0;
      backdrop-filter: blur(0.5rem);
    }

    li {
      width: 100%;
      font-weight: 300;
      font-size: 1.125rem;
      text-align: center;
      @include grid(center);

      a {
        width: 100%;
        display: block;
        padding: 0.75rem 1.5rem;
        text-decoration: none;
        color: $white;
        position: relative;


        &::before {
          content: '';
          position: absolute;
          bottom: 0;
          left: 0;
          width: 0;
          height: 0.0625rem;
          transform: translateY(0);
          background-color: $secondary-500;
          transition: $transition;
        }

        &:hover::before {
          width: 100%;
        }

        &.active::before {
          width: 100%;
          height: 0.125rem;

          &:hover {
            width: 100%;
            height: 0.25rem;
          }
        }
      }
    }
  }



  .hamburger {
    cursor: pointer;
    display: block;
    position: absolute;
    top: 10%;
    right: 1.3rem;
    transform: translateY(-10%);
    transition: all 0.6s ease-in-out;

    .btn{
      color:$white;
    }

    .btn-secondary{
      color:$secondary-500;
      display:none;
    }

    &.open{
      .btnOpen{
        display: none;
      }

      .btnClose{
        display:block;
      }
    }

  }
}
@media (min-width: $largescreens) {
  .nav {
    flex-direction: row;
    padding: 2rem;

    .navBar {
      max-width: 600px;
      height: 100%;
      right: 0;
      flex-direction: row;

      li {
        width: auto;
      }
    }

    .hamburger {
      display: none;
    }
  }
}
